@{
    ViewData["Title"] = "Create Client";
}

<h1>Create Client Test Page</h1>
<p>If you can see this, the view is working!</p>

<form method="post">
    <div>
        <label>Name:</label>
        <input type="text" name="Name" class="form-control" />
    </div>
    <div>
        <label>Email:</label>
        <input type="email" name="Email" class="form-control" />
    </div>
    <div>
        <label>Phone:</label>
        <input type="text" name="Phone" class="form-control" />
    </div>
    <div>
        <label>Address:</label>
        <textarea name="Address" class="form-control"></textarea>
    </div>
    <div>
        <label>Region:</label>
        <input type="text" name="Region" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary mt-2">Create</button>
</form>

@* References
ahmed, F., 2026. Views In ASP.NET MVC. [Online]
Available at: https://www.c-sharpcorner.com/article/views-in-asp-net-mvc/
alex.mironov, 2013. How do you request static .html files under the ~/Views folder in ASP.NET MVC?. [Online]
Available at: https://stackoverflow.com/questions/17949460/how-do-you-request-static-html-files-under-the-views-folder-in-asp-net-mvc
Microsoft, 2026. Views in ASP.NET Core MVC. [Online]
Available at: https://learn.microsoft.com/en-us/aspnet/core/mvc/views/overview?view=aspnetcore-10.0
w3schools, 2026. HTML Introduction. [Online]
Available at: https://www.w3schools.com/html/html_intro.asp *@

